@import '../../../styles.scss';

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $z-fixed;
    background-color: var(--body-color);
}

.nav {
    max-width: 968px;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__logo,
    .nav__toggle {
        color: var(--title-color);
        font-weight: var(--font-medium);
    }

    .nav__logo:hover {
        color: var(--first-color);
    }

    .nav__toggle {
        cursor: pointer;
    }
}

@media screen and (max-width: 767px) {
    .nav__menu {
        display: block;
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
        z-index: 1;

        &.close {
            bottom: -100%;
        }
    }
}

.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    font-weight: $font-medium;

    &:hover {
        color: var(--first-color);
    }

    img {
        position: relative;
        top: 2px;
        width: var(--h2-font-size);
        height: var(--h2-font-size);
        margin-bottom: $mb-0-25;
    }
}

.nav__btns {
    display: flex;
    align-items: center;

    .theme-change-btn {
        margin-right: $mb-1;
        cursor: pointer;
    }

    img {
        position: relative;
        top: 2px;
        width: var(--h3-font-size);
        height: var(--h3-font-size);
        line-height: var(--h3-font-size);
    }
}

.close__icon {
    position: absolute;
    right: 1.6rem;
    bottom: .7rem;
    cursor: pointer;
    font-size: var(--h3-font-size);
    color: var(--text-color);

    &:hover {
        color: $first-color-alt;
    }
}

@media screen and (max-width: 350px) {
    .nav__menu {
        padding: 2rem .25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }
}

@media screen and (min-width: 767px) {
    .header {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        background-color: var(--body-color);
    }
    .nav__menu {
        position: relative;
        display: flex;
        width: 100%;
        background-color: var(--body-color);
        margin-right: 1rem;
        .nav__list {
            margin-left: auto;
            display: flex;
            img{
                display: none;
            }
        }
        &.close {}
    }
    .nav__toggle {
        display: none;
    }

    .close__icon {
        display: none;
    }
}