<section class="qualification section">
    <h2 class="section__title">Qualification</h2>
    <span class="section__subtitle">My personal journey</span>

    <div class="qualification__container container">
        <div class="qualification__tabs">
            <div class="qualification__button button--flex">
                <img src="../../../assets/image/graduation-icon.png" alt="graduation" class="icon">
                Education
            </div>
            <div class="qualification__button button--flex">
                <img src="../../../assets/image/brifcase-icon.png" alt="Work" class="icon">
                Work
            </div>
        </div>
        <div class="qualification__sections">
            <div class="qualification__data">
                <h3 class="qualification__title">Computer Science</h3>
                <span class="qualification__subtitle">University Of California, San Diego</span>
                <div class="qualification__calendar">
                    <img src="../../../assets/image/calendar-icon.png" alt="calendar-icon" class="icon">
                    2019-2022
                </div>
            </div>
            <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
            </div>
            <div></div>
        </div>
        <div class="qualification__sections">
            <div></div>
            <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
            </div>
            <div class="qualification__data">
                <h3 class="qualification__title">Web Developer</h3>
                <span class="qualification__subtitle">Dingtea, San Diego</span>
                <div class="qualification__calendar">
                    <img src="../../../assets/image/calendar-icon.png" alt="calendar-icon" class="icon">
                    2022-2023
                </div>
            </div>
        </div>
    </div>
</section>