<section class="portfolio section" id="portfolio">
    <h2 class="section__title">Portfolio</h2>
    <span class="section__subtitle">Most recent work</span>

    <div class="portfolio__container container">
        
            <div class="portfolio__content grid">
                <img class="portfolio__image" src="../../../assets/image/musicapp.png" alt="musicapp">
                <div class="portfolio__data">
                    <h3 class="portfolio__title">Music Application</h3>
                    <p class="portfolio__description">Music Web Application allow users search, listen to local favorite songs.</p>
                    <a href="https://music-shazam-core.netlify.app" class="button button--flex button--small portfolio__button">
                        Demo
                        <span class="icon">></span>
                    </a>
                </div>
            </div>
            <div class="portfolio__content grid">
                <img class="portfolio__image" src="https://images-platform.99static.com//OyZG6iIJVFMuperwHRCXQk_ewck=/0x0:1400x1400/fit-in/590x590/99designs-contests-attachments/56/56271/attachment_56271979" alt="">
                <div class="portfolio__data">
                    <h3 class="portfolio__title">Online Store</h3>
                    <p class="portfolio__description">Website adaptable to all devices, and animated interactions.</p>
                    <a href="#" class="button button--flex button--small portfolio__button">
                        Demo
                        <span class="icon">></span>
                    </a>
                </div>
            </div>
            <div class="portfolio__content grid">
                <img class="portfolio__image" src="https://images-platform.99static.com//OyZG6iIJVFMuperwHRCXQk_ewck=/0x0:1400x1400/fit-in/590x590/99designs-contests-attachments/56/56271/attachment_56271979" alt="">
                <div class="portfolio__data">
                    <h3 class="portfolio__title">Management Application</h3>
                    <p class="portfolio__description">Website adaptable to all devices, and animated interactions.</p>
                    <a href="#" class="button button--flex button--small portfolio__button">
                        Demo
                        <span class="icon">></span>
                    </a>
                </div>
            </div>
        
    </div>
</section>