<section class="contact section" id="contact">
    <h2 class="section__title">Contact Me</h2>
    <span class="section__subtitle">Get in touch</span>

    <div class="contact__container container grid">

        <div class="contact__information">
            <img src="../../../assets/image/phone-icon.png" alt="phone" class="icon">
            <div>
                <h3 class="contact__title">Call Me</h3>
                <span class="contact__subtitle">(858)267-9687</span>
            </div>
        </div>
        <div class="contact__information">
            <img src="../../../assets/image/mail-icon.png" alt="email" class="icon">
            <div>
                <h3 class="contact__title">Email</h3>
                <span class="contact__subtitle">nhatnguyen.03201996@gmail.com</span>
            </div>
        </div>
    </div>
</section>